html {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}

body {
  box-sizing: border-box !important;

  font-family: 'Noto Sans', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navTop {
  height: 70px;
  background: rgb(202, 157, 16);
  background: linear-gradient(
    90deg,
    rgba(202, 157, 16, 1) 0%,
    rgba(0, 77, 76, 1) 68%
  );
}
#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 60px solid #004d4c;
  border-bottom: 50px solid transparent;
}

.parallelogram {
  width: 20px;
  height: 70px;
  transform: skew(50deg);
}
.navRibben {
  width: 100px;
  left: 20% !important;
}

.navbar {
  top: 80px;
  background: rgb(202, 157, 16);
  background: linear-gradient(
    90deg,
    rgba(202, 157, 16, 1) 0%,
    rgba(0, 77, 76, 1) 68%
  );
}
.logo {
  height: 100px;
  object-fit: cover;
}
.logo img {
  background-color: #004d4c !important;
}
#navbarToggleBtn {
  right: 10px !important;
}
.nav-link {
  color: #ca9d10 !important;
}
.nav-link:hover {
  background-color: #2b2a28;
}
.nav-item .dropdown-item {
  color: #ca9d10;
}

.animateImgBg img {
  width: 560px !important;
  position: absolute;
  z-index: 2;
  height: 660px !important;
}
.animateImgBg div {
  width: 530px !important;
  height: 660px !important;
  z-index: 1;
  position: relative;
}
#scrollToTop {
  position: fixed;
  width: 41px !important;
  height: 41px !important;
  border: 0;
  right: 4%;
  bottom: 6%;
  z-index: 99;
  cursor: pointer;
  background-color: #ff8400;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
#scrollToTop:hover {
  background-color: #333333;
}
.whatsAppBtn{
  position: fixed;
  width: 41px !important;
  height: 41px !important;
  border: 0;
  right: 5%;
  bottom: 20%;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.Footer a {
  color: #808080;
  font-family: 'Noto Sans', sans-serif !important;

}
.imgHover:hover{
  transform: scale(1.04);
  cursor: pointer;
}
@media all and (max-width: 652px) {
  .logo {
    height: 60px;
    top: -5px;
  }
  .navTop {
    height: 30px;
  }
  .navbar {
    top: 35px;
    background: rgb(202, 157, 16);
    background: linear-gradient(
      90deg,
      rgba(202, 157, 16, 0.8690826672465861) 0%,
      rgba(0, 77, 76, 0.8410714627647934) 100%
    );
  }
  .navRibben {
    width: 100px;
    left: 20% !important;
    height: 30px;
  }
  .navRibben div{
    height: inherit;
  }
  .nav-link {
    color: #004d4c !important;
    text-shadow: 1px 1px #467070;
  }
  .nav-link:hover {
    background-color: initial;
  }

  .carousel {
    margin-top: 83px !important;
  }

  .parallelogram {
    width: 20px;
    height: 50px;
    transform: skew(50deg);
  }
  .whatsAppBtn{
    right: 8% !important;
  }
  #triangle-right {
    width: 0;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 30px solid transparent;
    border-left: 45px solid #004d4c;
    border-bottom: 30px solid transparent;
  }
  .logo img {
    height: inherit !important;
  }
  .animateImgBg img {
    width: 300px !important;
    height: 352px !important;
  }
  .animateImgBg div {
    width: 270px !important;
    height: 352px !important;
  }
  /* solar pv module */
  .soalrPVHead p {
    font-size: 40px !important;
  }
  .sunbondPVWeb {
    width: 90%;
  }
  /* aobut us */
  .aboutUs {
    width: 90% !important;
  }
  
  .aboutUs p {
    font-size: 20px !important;
  }
  .aboutUs img {
    width: 50% !important;
  }
  .contactUsCoverImg {
    width: 75% !important;
  }
}

/* solar pv module */

.soalrPVHead {
  background-image: url("./img/3d-house-with-solar-pannels.png") !important;
  background-repeat: no-repeat;
  color: wheat;
  height: 100vh;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item {
    border: 3px solid transparent;
  }
  .navbar .nav-item:hover {
    border-bottom: 3px solid green;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
