body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Noto Sans', sans-serif !important;
/* 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.fc-blue{
  color: #045491 !important;
}
.btnHover{
  padding: 7px;
  margin: 3px;
  color: white;
  background-color: #ff8400;
}
.btnHover:hover{
  padding: 10px !important;
  margin: 0;
  background-color: white;
  color: #ff8400 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
